<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Create a new list</h1>

        <main>
            <form method="post" autocomplete="off">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="control">
                <button class="button">Create</button>
              </div>
            </form>
        </main>

</body>
</html>
