

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo Lists</title>
</head>
<body>
  <main>
    <h1>Reminders</h1>
    <div>
      <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
      <div>
        <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
      </div>
      <div>
        <a href="{% url "todo_list_list" %}">Home</a>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in todolist.items.all %}
        <tr>
          <td>
            <a href="{% url "todo_item_update" todolist.pk %}">{{ item.task }}</a>
          </td>
          <td>{{ item.due_date }}</td>
        </tr>
        </p>
      {% endfor %}
    </tbody>
    </table>
  </main>
</body>
</html>
