
<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <h1>Update a List</h1>

        <main>
            <form method="post" autocomplete="off" >
              {% csrf_token %}
              {{ form.as_p }}
              <div class="control">
                <button class="button">Update</button>
              </div>
            </form>
          </main>

</body>
</html>
