

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo Lists</title>
</head>
<body>
  <main>
    <h1>My Lists</h1>
    <div>
      <p>
        <a href="{% url 'todo_list_new' %}">Create a new list</a>
        <p>
        <a href="{% url "todo_item_new" %}">Create a new Item</a>
        </p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of items</th>
        </tr>
      </thead>
      <tbody>
        {% for item in todolist_list %}
          <tr>
            <td>
              <a href="{% url "todo_list_detail" item.pk %}">{{ item.name }}</a>
            </td>
            <td> {{ item.items.count }}  </td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
  </main>
</body>
</html>
